@import '../sass/_variables.scss'

$toolbar: fetch($seg-editor, toolbar)
$workspace: fetch($seg-editor, workspace)

section.SegEditor
  width: 100vw
  height: 100vh

  > section.SegEditor-Toolbar
    height: fetch($toolbar, height)
    line-height: fetch($toolbar, height)
    width: 100%
    background-color: fetch($toolbar, background-color)
    color: fetch($toolbar, font-color)
    font-size: fetch($toolbar, font-size)
    padding: 0 10pt

    > div.tool-section
      height: fetch($toolbar, height)
      display: inline-block

      + div.tool-section
        margin-left: 10pt

      &:before
        content: ''
        vertical-align: middle
        height: 100%
        width: 0
        display: inline-block

      > button
        @include shared-button-style
        vertical-align: middle

        > span.fa
          font-size: 12pt
          display: inline-block
          height: 100%

        + button
          border-left: 0

  > section.SegEditor-Workspace
    height: calc(100vh - #{fetch($toolbar, height)})
    width: 100%

    > svg
      background-color: #555

      polygon.seg-polygon
        fill: rgba(255, 0, 0, 0.3)
        pointer-events: none

      circle.seg-polygon-vertex
        fill: rgba(255, 0, 0, 0.5)

        &.active
          r: 5

    > img.hidden-img
      position: absolute
      left: 100vw
      opacity: 0
