@function fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  @if ($length > 1) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return fetch($value, $rest)
  }
  @else {
    @return $value;
  }
}

@mixin shared-button-style {
  display: inline-block;
  height: 30pt;
  line-height: 30pt;
  width: 30pt;
  text-align: center;
  background-color: #333;
  color: #ddd;
  border: 1pt solid darken(#ddd, 30%);
  transition: .25s;

  &:hover {
    transition: .25s;
    background-color: #ddd;
    color: #333;
  }

  &:active {
    background-color: #fff;
  }
}

$seg-editor: (
  toolbar: (
    height: 50pt,
    background-color: #333,
    font-color: #eee,
    font-size: 14pt
  ),
  workspace: (
    
  )
);
