@import url('https://fonts.googleapis.com/css?family=Lekton:400,400i,700');

body
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh
  overflow: hidden
  font-family: 'Lekton', sans-serif

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, p
  padding: 0
  margin: 0

a
  text-decoration: none

ul
  margin: 0

  > li
    list-style-type: none

button:focus
  outline: none